
.colorWhite{
    color: white;
}
.colorGris{
    color: rgb(155,156,160);
}
.colorVerde{
    color: rgb(40,167,69);
}
.colorFondoGradiente{
    background-image: linear-gradient(to right, #1c3844, #1c3f4f, #1c465a, #1c4c66, #1e5372);
}

header nav ul li{
    list-style: none;
}
.ocultar{
    display: none;
}*/
header .listaItem{
    list-style: none;
    display: none;
}
.contenedorLogoNav{
    background-color: rgb(53,58,64);
    /*height: 200px;*/
    font-size: 1.5rem;
    color:white;
}
.linkNav{
    text-decoration: none;
}


.footer a{
    color:white;
}